{% extends 'base.html' %}

{% block content %}
<div class="stadir">
    {% for adili in adilar %}
    <div class="adili">
        <a href="{{ adili }}">
            <img src="/static/img/{{ adili }}.png" alt="{{ adili }}" width="200" height="200">
            {{ adili }}
        </a>
    </div>
    {% endfor %}
</div>
<p>Verð á bensíni: {{ min_bens.bensin95 }}, {{ min_bens.company }} {{ min_bens.name }}</p>
<p>
    Verð á dísel: {{ min_dies.diesel }}, {{ min_dies.company }} {{ min_dies.name }}
</p>
{% endblock %}
